body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

.endpoints {
    text-align: left;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

li:hover {
    background: #707b7c; 
    color: white;
    transform: translateX(5px); 
}
